[Desktop Entry]
Type=Application
Version=1.0
Name=Create EFIBoot Entry
Comment=EFIStub Bootloader Manager
Exec=pkexec --user root /usr/bin/efistub-manager create
Icon=/usr/share/icons/breeze/apps/48/system-run.svg
Categories=System;
Terminal=true
Type=Application
Keywords=Boot;Bootloader;EFI;
