[Desktop Entry]
Type=Application
Version=1.0
Name=Intel XE Driver Enable
Comment=Intel XE Experimental Video Driver Toggle
Exec=pkexec --user root /usr/bin/xe-kernel-driver-toggle xe
Icon=/usr/share/icons/breeze/apps/48/system-run.svg
Categories=System;
Terminal=true
Type=Application
Keywords=Boot;Bootloader;EFI;Linux;Kernel
